@page "/farms"
@using System.Text.Json;
@attribute [Authorize]
@inject HttpClient httpClient

<h3>Farms</h3>

<div>
    @foreach(var farm in farms)
    {
        <div class="list-group">
            <a href="/farms/@farm.BlnNumber" class="stretched-link list-group-item">@farm.Name</a>
        </div>

        @*<div class="card">
            <div class="row">
                <div class="card-header">@farm.Name</div>
                <div class="col-md-9">
                    <div class="card-body">
                       <span>@farm.Description</span> 
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-body">
                       <span>@farm.Address.State, @farm.Country.Name</span>
                    </div>
                </div>
            </div>
            <a href="/farms/@farm.BlnNumber" class="stretched-link"></a>
        </div>*@
    }
</div>

@code {
    private IEnumerable<FarmDto> farms = new List<FarmDto>();

    protected override async Task OnInitializedAsync()
    {
        farms = await httpClient.GetFromJsonAsync<IEnumerable<FarmDto>>("https://localhost:7246/api/Farms");
        await base.OnInitializedAsync();
    }
}